<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
</head>
<style>
    body{
        background-image: url("/assets/images/dashboard-background.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .search-box{
      background-color: rgba(0, 0, 0, 0.3);
      height: 100px;
    }

</style>
<body>
    <%- include('partial/navbar') %>     
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="margin-top: 75px;">                      
                        <li class="nav-item">
                            <a href="/dashboard" class="nav-link align-middle px-0">
                                <img src="assets/icon/user.png" alt="" style="width: 25px;"> <span class="ms-1 d-none d-sm-inline">User Dashboard</span>
                            </a>
                        </li>                       
                        <li class="nav-item">
                            <a href="/dashboard/biodata" class="nav-link align-middle px-0">
                                <img src="assets/icon/profile.png" alt="" style="width: 28px;"><span class="ms-1 d-none d-sm-inline">User Biodata</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard/history" class="nav-link align-middle px-0">
                                <img src="assets/icon/history.png" alt="" style="width: 28px;"><span class="ms-1 d-none d-sm-inline">User History</span>
                            </a>
                        </li>
                        <a href="/dashboard/create">
                          <button class="btn btn-primary mb-2 mt-2">Add New User</button>
                        </a>                       
                    </ul>
                    
                </div>
                
            </div>
            <div class="col py-3" style="margin-top: 100px;">
                <div class="container-fluid">
                    <h1 class="text-center" style="color: rgb(211, 211, 211);">USER DASHBOARD</h1>

                    <!-- PAGINATION -->
                    <% if (dataUser.length > 0) { %>
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            <li class="page-item <%= currentPage ==1 ? 'disabled' : '' %> ">
                              <a class="page-link" href="/?page=<%= prevPage %>&full_name=<%=query.full_name%>&address=<%=query.address%>&city=<%=query.city%>&date_of_birth=<%= query.date_of_birth%>">Previous</a>
                            </li>                  
                          <% for( let index = 1; index <= totalPage; index++ ) { %>
                              <li class="page-item <%= index == currentPage ? 'active' : '' %> ">
                                  <a class="page-link" href="/?page=<%= index %> &full_name=<%=query.full_name%>&address=<%=query.address%>&city=<%=query.city%>&date_of_birth=<%= query.date_of_birth%>"> <%= index %> </a>
                              </li>
                          <% } %>
                            <li class="page-item <%= totalPage == currentPage ? 'disabled' : '' %>">
                              <a class="page-link " href="/?page=<%= nextPage %>&full_name=<%=query.full_name%>&address=<%=query.address%>&city=<%=query.city%>&date_of_birth=<%= query.date_of_birth%>">
                                Next
                              </a>
                            </li>
                          </ul>
                        </nav>
                <% } %> 
                <!-- END OF PAGINATION -->


                  <!-- MESSAGE ALERT -->
                  <% if (success) { %>
                    <%- include('partial/successMessage',{message: success[0]})  %>  
                <% } else if (error) { %>
                    <%- include('partial/errorMessage',{message: error[0]}) %>
                  <% } %>
                  <!-- END OF MESSAGE ALERT -->


                  <!-- SEARCH BAR -->
                  <div class="search-box p-3">                   
                    <form action="/dashboard" method="get">
                        <input type="text" class="d-none" name="page" value="1">
                      <div class="row">
                        <div class="col-3">
                          <label for="name" class="form-label text-light">Full Name</label>
                          <input type="text" class="form-control" value="<%= query.full_name %>" name="full_name">
                        </div>
                        <div class="col-3">
                          <label for="address" class="form-label text-light">Address</label>
                          <input type="text" class="form-control" value="<%= query.address %>" name="address">
                        </div>
                        <div class="col-2">
                          <label for="city" class="form-label text-light">City</label>
                          <input type="text" class="form-control" value="<%= query.city %>" name="city">
                        </div>
                        <div class="col-2">
                          <label for="birth" class="form-label text-light">Date of Birth</label>
                          <input type="date" class="form-control" value="<%= query.date_of_birth %>" name="date_of_birth">
                        </div>
                        <div class="col-2 d-flex align-items-end d-grip gap-2">
                            <button type="submit" class="btn btn-secondary w-50">Search</button>
                            <button type="submit" onclick="clearInput()" class="btn btn-dark w-50">Clear</button>                                                                
                        </div>
                      </div>                                  
                    </form>
                  </div>                  
                  <!-- END OF SEARCH BAR -->
                    
                    <table class="table table-dark table-hover table-bordered mt-3">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>Hobby</th>
                          <th>Date of Birth</th>
                          <th>Win</th>
                          <th>Lose</th>
                          <th>Draw</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% dataUser.forEach(item => { %>
                            <tr>
                              <td><%= item.uuid %> </td>
                              <td><%= item.username %> </td>
                              <td><%= item.email %> </td>
                              <td><%= item.user_biodata.full_name %> </td>
                              <td><%= item.user_biodata.address %> </td>
                              <td><%= item.user_biodata.city %> </td>
                              <td><%= item.user_biodata.hobby %> </td>
                              <td><%= item.user_biodata.date_of_birth %> </td>
                              <td><%= item.user_history.win %> </td>
                              <td><%= item.user_history.lose%> </td>
                              <td><%= item.user_history.draw%> </td>
                              <td>
                                <div class="row">
                                    <div class="col-6">
                                      <a href="/dashboard/edit/<%= item.uuid %>">
                                        <button class="btn btn-warning">
                                          Edit
                                        </button>
                                      </a>
                                    </div>                  
                                    <div class="col-6">
                                      <form action="/dashboard/delete/<%= item.uuid %>" method="POST">
                                        <button class="btn btn-danger">
                                          Delete
                                        </button>
                                      </form>
                                    </div>
                                 </div>   
                              </td>
                            </tr>
                            <% }) %>
                      </tbody>                       
            </div>           
    </div>
  </div>
</div>
    
    
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/alert.js"></script>
    <script src="/assets/js/search.js"></script>
</body>
</html>